<%- include('header'); -%>

  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>

  <div class="box">
    <!-- <li id="item1">Buy Food</li> -->
    <% for (var i=0; i <newListItems.length; i++){ %>
    <div class="item">
      <input type="checkbox" />
      <p><%= newListItems[i] %></p>
    </div>
    <% } %>

    <form action="/" method="post" class="item">
      <input type="text" name="newItem" placeholder="Add To TODO List" autocomplete="off"/>
      <button class="btn btn-primary" type="submit" name="list" value= <%= listTitle %> >+</button>
    </form>
  </div>

<%- include('footer'); -%>
